/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #e2e3ed;
  background-color: #202322;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3a3a3a;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -----------------------  Base Content Style ----------------------- */

.content-wrapper {
  width: 100%;
}

 /* -------------------- Base Header - Footer Styles -------------------- */
 
 header,
 footer {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
 }
 
footer {
  padding: 10px 0;
}

 header .content-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   margin: 10px 0 0 0;
   padding: 0;
 }

 header img {
   width: 220px;
 }

 .header-divider {
  width: 360px;
  border: 0;
  border-top: 1px solid #3a3a3a;
  margin-top: 10px;
  padding: 0;
  overflow: visible;
}
 header nav {
   display: flex;
   align-items: center;
   flex-flow: row wrap;
   justify-content: center;
   
 }
 
 header nav ul {
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   text-transform: uppercase;
   font-weight: bold;
   /* Remove bullets from list items */
   list-style: none;
   /* Remove indentation from list items */
   margin: 10px;
   padding: 0;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
 }

header nav li {
  margin: 0 25px;
}

a:link, a:visited {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-weight:500;
  font-size: 2em;
}

img {
  max-width: 100%;
}

/* -----------------------  Retreat Style ----------------------- */

.retreat .content-wrapper {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  align-items: left;
  width: 100%;
  min-height: 830px;
}

.retreat-headline {
  padding: 30px 20px;
  width: 100%;
  background-image: url("../img/jake-melara-30679-unsplash.jpg");
  /* background-size:100%; */
  /* background-position: 50%; */
  /* background-repeat: no-repeat; */
}

.retreat h1 {
  font-weight:400;
  font-size: 2em;
  margin: 0;
  line-height: 1.3em;
  max-width: 300px;
}

.retreat h2 {
  font-weight:500;
  font-size: 1em;
  line-height: 2em;
  margin: 0;
}

.retreat p {
  font-size: .78em;
  margin: 0;
}

/* -----------------------  Aside Style ----------------------- */

.aside-content {
  background-color:#527158;
  display: flex;
  flex-flow: row wrap;
  height: 330px;
}

.retreat-join {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 5%;
}

.retreat-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: space-evenly;
  margin: 5%;
  width: 100%;
}

input {
  height: 50px;
  font-size: .78em;
  font-style: italic;
  color: #ccc;
}

.download-button {
  background-color:#2a423a;
  text-transform: uppercase;
  color: #e2e3ed;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  font-style: normal;
}

 /* -----------------------  Faetures Style ----------------------- */

.features .content-wrapper {
  padding: 30px 20px;
}

.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url("../img/rawpixel-800820-unsplash1.jpg");
  background-size:cover;
}

article {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.features-item-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin:0;
  padding: 20px 50px;
  text-align: center;
  font-size:.77em;
  color: #d8d9e0;
}

.features h1 {
  font-size:1.66em ;
}

/* -----------------------  Reviews Style ----------------------- */

.reviews {
  background-color:#527158;
}
.reviews .content-wrapper {
  width: 90%;
  margin:0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;


}

.reviews h1 {
  font-size: 1.66em;
}

.reviews h2 {
  font-size: 1em;
  font-weight: 400;
  width: 55%;
}

.reviews p {
  font-size: .77em;
}

/* -----------------------  Contact Style ----------------------- */

footer {
  background-color: #2b3733;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content h2 {
  font-size: 1em;
  font-weight: 500;
}

.footer-content p {
  font-size: .77em;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* flex-basis: 26%; */
}

.contact p {
  margin: 0
}

/* -----------------------  Social Style ----------------------- */

.social {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 200px;
  /* margin: 20px 23.6%; */
}

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.social-icons img {
  width: 40px;
}

/* -----------------------  Copyright Style ----------------------- */

.copyright {
  margin: 0 20%;
}
.copyright h3 {
  font-size: .77em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*Tablet styles here*/
      /* Header Styles */
        header .content-wrapper {
          flex-basis: 768px;
          justify-content: space-between;
          margin: 30px 0;
        }
        .header-divider {
          border: 0;
          width: unset;
        }
        header nav {
          padding-left: 60px;
        }
      /* Retreat Styles */
        .retreat h1 {
          padding: 30px 0px 335px 60px;
          max-width: 500px;
        }
        .retreat .aside-content {
          width: 100%;
          justify-content: space-between;
        }
        .retreat-join {
          width: 40%;
          justify-content: center;
        }
        .retreat-form {
          width: 40%;
          justify-content: space-evenly;
        }
        .retreat h2 {
          font-weight:500;
          font-size: 1.33em;
          margin: 0;
        }

      /* Features Styles */

      .features h1 {
        font-size: 2em;
      }
      .features article {
        margin: 5%;
      }
      .features-item-description {
        width: 25%;
      }

            /* Reviews Styles */

      .reviews {
        padding: 3%;
      }
      .team-photo,
      .team-review {
        width: 45%;
        margin: 1%;
      }

            /* Footer Styles */

      .footer-content {
        flex-flow: row wrap;
      }
      .contact,
      .social {
        width: 45%;
      }
      .social-icons {
        justify-content: space-evenly;
      }
}


    @media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

    }

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

