body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: 0.875em;
    padding: 0 30px;
}

header {
	border-bottom: 3px solid #77a466;
	text-align: center;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	text-align: center;
	padding: 0.421em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: .333em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 20px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
}

.main-image {
	height: auto;
}
.main-image img {
	border-bottom: 3px solid #77a466;
	max-width: 100%;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
}

.section-one,
.section-two,
.section-three {
	height: auto; 
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
}

.address {
	font-size: 1em;
}

footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	margin-top: 20px;
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*  MEDIA QUERIES  */

@media (min-width: 50px) and (max-width: 599px) {
	body {
		font-size: 16px;
	}
	.container {
		padding: 20px;
	}
	.top-section {
		flex-flow: column;
	}
	.bottom-section {
		flex-flow: column;
	}
	
}

@media (min-width: 600px) and (max-width: 899px) {
	body {
		font-size: 18px;
	}
	.container {
		padding: 20px;
	}
	header nav ul {
		align-items: center;
		flex-flow: row wrap;
		justify-content: center;
	}
	.top-section {
		flex-flow: column;
	}
	.bottom-section {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.section-one,
	.section-two,
	.section-three {
		flex-basis: 33%;
	}
}

@media  (min-width: 900px) and (max-width: 1199px) {
	body {
		font-size: 16px;
	}
	.container {
		padding: 20px;
	}
	header nav ul {
		align-items: center;
		flex-flow: row;
	}
	.top-section {
		flex-flow: column;
	}
	.section-one,
	.section-two,
	.section-three {
		flex-basis: 33%;
	}
}

@media  (min-width: 1200px)  {
	body {
		font-size: 18px;
	}
	.container {
		max-width: 1200px;
	}
	header nav ul {
		align-items: center;
		flex-flow: row;
	}
	.top-section {
		flex-flow: column;
	}
	.section-one,
	.section-two,
	.section-three {
		flex-basis: 33%;
	}
	}